<html>
<head>
<title>IRCRelay Status</title>
<link href='//fonts.googleapis.com/css?family=Inika:400,700' rel='stylesheet' type='text/css'>
<link href='http://s3.amazonaws.com/ircrelay-status/bootstrap.css' rel='stylesheet' type='text/css'>
<link href='http://s3.amazonaws.com/ircrelay-status/style.css' rel='stylesheet' type='text/css'>
</head>
<body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36813853-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<div class="container">
    <div class="row">
       <div class="span6 offset1">
                <h1><a href="/" tabindex="-1">IRCRelay<span class="second-head"> Status</span></a></h1>
            </div>
            <div class="span3 offset1">
                <ul class="header-links">
                    <li class="span2"><a href="mailto:help@ircrelay.com" tabindex="-1">Email Support</a></li>
                </ul>
            </div>
    </div>
    <div class="row">
        <div class="span9 offset1">
            <div class="span3">
                <div class="span3 no-left-margin">
                    <h2>Provisioning API</h2>
                    <p class="note">Responsible for new accounts and transitioning accounts.</p>
                    <noscript>Because you do not have Javascript enabled, please visit the <a href="/check">raw status page</a>.</noscript>
                    <span id="API">Loading service status...</span>
                </div>
                <div class="span3 no-left-margin">
                    <h2>Web Frontend</h2>
                    <p class="note">Signup and account management, as well the homepage.</p>
                    <noscript>Because you do not have Javascript enabled, please visit the <a href="/check">raw status page</a>.</noscript>
                    <span id="Frontend">Loading service status...</span>
                </div>
                <div class="span3 no-left-margin">
                    <h2>IRC Router</h2>
                    <p class="note">Routes IRC connections sent to irc.ircrelay.com</p>
                    <noscript>Because you do not have Javascript enabled, please visit the <a href="/check">raw status page</a>.</noscript>
                    <span class="service_status" id="Router">Loading service status...</span>
                </div>
            </div>
            <div class="span5">
                <h2>Status Updates</h2>
                <a class="twitter-timeline"  width="470px" height="408px" data-dnt=true href="https://twitter.com/ircrelay" data-widget-id="275396709981495296">Get Realtime Status Updates @ircrelay</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://s3.amazonaws.com/ircrelay-status/moment.min.js"></script>
<script type="text/javascript">
$(function(){
  serviceChecker.init();
});

function updateServices(services) {
    if (services) {

        // Loop over the services and add them to the list of services.
        $.each(services, function(index, service){
              if (service['status'] === 'Experiencing Issues') {
                    status = 'down'
              } else {
                    status = 'up'
              };
              var lastCheck = moment(service['last_check']).format('h:mm:ss a');
              ident = service['name'].split(' ')[1]
              console.log(ident)
              var el = $('#' + ident)
              el.empty();
              var name = '<span class="name">' + service['name'] + '</span>';
              var status = '<span class="status ' + status + '">' + service['status'] + "</span>";
              var last_check = '<span class="last_check note">' + lastCheck + "</span>";
              el.append(status + ' ' + last_check);
        });
    };
}
var serviceChecker = {
  init: function(){
    this.makeRequest();
    this.ping();
  },

  makeRequest: function(){
    var getResponse = function(json){
      if (json) {
        updateServices(json)
      }
    };
    $.getJSON('/check', getResponse)
  },


  ping: function(){
    setTimeout(function(){ serviceChecker.init() }, 8000);
  }
}
</script>
</body>
</html>
